body {
    text-align: center;
    background-color: lightcyan;
    background-repeat: no-repeat;
}

img {
    border-radius: 50% width:100px
}


h1 {
    text-shadow: 2px 2px #4e35e8;
    font-size: 20px;
}
#a920e6

p {
    font-size: 18px;
}
